body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ta-c {
    text-align: center;
    z-index: 2;
    position: sticky;
    top: 124px;
    background: white;
    padding-bottom: 20px;
}

.wth600 {
    display: flex;
    width: 600px;
    margin: auto;
    justify-content: center;
}

.wth600>.br_bg-trans {
    margin-right: 10px;
    flex-grow: 1;
}

.cards:hover .top-h {
    position: relative;
    bottom: 114px;
    background: #fff;
    padding-top: 5px;
    margin: 0;
}

.cards:hover {
    transform: scale(1.1, 1.1);
    transition: all 0.1ms ease;
}

.jc-sa_fw-w:hover>.cards:not(:hover) {
    filter: blur(2px);
    transform: scale(0.9, 0.9);
}

.Rotate {
    position: relative;
    color: black;
    font-size: 22px;
    filter: contrast(4);
    text-decoration: underline;
    font-family: monospace;
}

.jc-sa_fw-w {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    max-width: 1120px;
    width: 95%;
    margin: auto;
}

.cards {
    width: 252px;
    height: 344px;
    overflow: hidden;
    display: inline-block;
    padding: 15px;
    box-shadow: 0px 0px 4px rgba(10, 10, 10, 10.4);
    margin-top: 30px;
    border-radius: 20px;
    padding-bottom: 0px;
    transition: all 0.5s ease-in-out;
}

.Discount {
    background: rgb(11, 120, 11);
    font-size: 12px;
    border: none;
    color: white;
    font-weight: 500;
}

.cards img {
    width: 249px;
    height: 260px;
}

.w235 {
    width: 235px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
}

.br_bg-trans {
    border-radius: 37%;
    background-color: transparent;
}

.w235 .br_bg-trans {
    height: 27px;
}

.td-l_through {
    text-decoration: line-through;
    color: grey;
    font-size: 12px;
}

.pd-2 {
    width: 45%;
    margin-left: 6px;
    color: white;
    height: 39.3px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    background: #ff9f00;
}

.bc-orang {
    background: #fb6418
}

.top-h,
.h56px {
    width: 249px;
}

.mt-15 {
    margin-top: 140px;
}

.cards>p {
    margin: 0;
}

@media(max-width:768px) {
    .wth600 {
        flex-direction: column;
    }

    .mt-15 {
        margin-top: 57px;
    }

    .bg-red {
        font-size: 23px;
    }

    .br_bg-trans {
        margin-top: 10px;
    }

    .cd-fx-bx {
        display: block;
    }

    .wth600 {
        width: 100px;
        padding-left: 5px;
    }

    .jc-sa_fw-w {
        margin-top: 56px;
    }

    .cards {
        width: 150px;
        padding-bottom: 0;
        height: 236px;
        padding: 10px 30px;
        transition: all 2.5s ease-in-out;
    }

    .cards img {
        width: 155px;
        height: 145px;
    }

    .pd-2 {
        width: 40%;
    }

    .h56px {
        font-size: 14px;
        height: 80px;
        width: 155px;
    }

    .Rotate {
        display: none;
    }

    /* .pd-2{
    width: 40%;
 } */
    .fc-w8 {
        font-size: 12px;
        font-weight: 600;
        color: white;
    }

    .wth600 {
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 300px;
    }

    .ta-c {
        position: sticky;
        top: 111px;
        background-color: #0c5273;
        color: white;
        padding-bottom: 8px;
        border: none;
    }

    .cards:hover .top-h {
        position: relative;
        bottom: 75px;
        width: 155px;
        background: #fff;
        padding-top: 5px;
        margin: 0;
        transition: all 2.5s ease-in-out;
    }

    .cards:hover .w235 {
        width: 155px;
        justify-content: space-between;
        margin-right: 0;
    }

    .cards:hover .h56px {
        height: 44px;
        width: 155px;
    }

    .cards:hover .pd-2 {
        font-size: 10px;
        padding: 0;
        width: 75px;
        border-radius: 4px;
        margin-left: 0px;
        height: 33px;
    }
}

@media(max-width:600px) {
    .cards {
        width: 140.8px;
        height: 220px;
        transition: all 2.5s ease-in-out;
    }

    .cards img {
        width: 145px;
        height: 130px;
        text-align: center;
    }

    .mt-15 {
        margin-top: 120px;
    }

    .ta-c {
        position: fixed;
        width: 100%;
        top: 103px;
    }

    .top-h {
        font-size: 8px;
        height: 71px;
        width: 145px;
    }

    .h56px {
        font-size: 12px;
    }

    .cards:hover .top-h {
        width: 145px;
        transition: all 2.5s ease-in-out;

    }

    .cards:hover .w235 {
        width: 145px;

    }

    .cards:hover .pd-2 {
        max-width: 130px;
        width: 95%;
        font-size: 9px;
        margin-top: 13px;
        left: 6px;
        position: relative;


    }

}

@media(max-width:390px) {

    body {
        text-align: center;
        width: 100%;
    }

    .ta-c {
        display: none;
    }

    button.bg-bl {
        padding: 0px 5px;
    }

    .cards:hover .pd-2 {
        max-width: 98px;
        width: 95%;
        font-size: 9px;
        margin-top: 13px;
        position: relative;
        left: -1px;

    }
}